@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #0f172a;

  --card: #ffffff;
  --card-fg: #0f172a;

  --muted: #f4f4f5;
  --muted-fg: #52525b;

  --border: #e4e4e7;

  --ring: #2563eb; /* blue-600 */
}

html[data-theme="dark"] {
  --bg: #0a0a0a;
  --fg: #e5e7eb;

  --card: #111111;
  --card-fg: #e5e7eb;

  --muted: #18181b;
  --muted-fg: #a1a1aa;

  --border: #5d5d64;

  --ring: #60a5fa; /* blue-400 */
}

/* If no manual theme set, follow system preference */
@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --bg: #0a0a0a;
    --fg: #e5e7eb;

    --card: #111111;
    --card-fg: #e5e7eb;

    --muted: #18181b;
    --muted-fg: #a1a1aa;

    --border: #27272a;

    --ring: #60a5fa;
  }
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-card: var(--card);
  --color-card-fg: var(--card-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}
